* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #787777; /* Change text color on hover */
    border-radius: 5px; /* Optional: make it look smooth with rounded corners */
}


button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Navbar styling */
.navbar {
    list-style-type: none;
    display: flex; /* Flexbox for horizontal alignment */
    align-items: center; /* Aligns image and text vertically */
    padding: 10px;
    background-color: #f8f8f8;
}

/* Logo in the navbar */
.nav-logo {
    height: auto;
    width: 4%;
    margin-right: 15px; /* Add some space between logo and nav links */
}
